.image {
    max-height: 220px;
    margin: 10px;
    border: 4px solid rgb(255, 196, 0);
}

.image:hover {
  box-shadow: 5px 5px 15px rgb(247, 211, 54);
  transform: scale(1.1);
  cursor: pointer;
}
.image:active {
    transform: translate(1px, 1px)
}

