
#header {
    height: 410px;
    text-align: center;
    margin-top: 100px;
    background: url("../../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: darkgray 1px solid;
    

}

#headerInstructions {
    padding-top: 30px;
    color: rgb(238, 234, 184);
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    /* text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow; */
    text-shadow: 1px 1px 2px rgb(10, 10, 10), 0 0 25px rgb(255, 230, 0), 0 0 5px rgb(229, 229, 231);
}