
#header {
    height: 410px;
    text-align: center;
    margin-top: 100px;
    background: url("../../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: darkgray 1px solid;

}

#headerInstructions {
    padding-top: 30px;
    color: white;
}